body 
{ 
  font-family: Times new roman, Arial, Verdana, sans-serif; 
  font-size:16px; 
  background-color: #fff; 
  color: #222;
/*color: #000; */
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.bigger 
{ 
  font-size: 18px; 
}

ul
{
  list-style-type:square;
}

h1 
{ 
  font-weight: bold; 
  font-size: 36px; 
  line-height: 36px; 
}

h1 a
{ 
  text-decoration:none; 
}

h3
{
  clear: both;
  font-weight: bold; 
  font-size: 24px; 
  line-height: 24px; 
}


.title
{ 
  font-weight: bold; 
  font-size: 18px; 
  padding-top: 10px;
  padding-right: 10px;
  display: inline;
}

b, .strong
{
  font-weight: bold; 
}

img
{
  border: 5px;
  margin: 0px 0px 0px 0px;
  padding: 5px;
  vertical-align: bottom;
}

.clear
{
  clear:both;
}
#header
{
  display: flex;
}
#header_left
{
  margin-right: 0px;
  float: left;
  width: 18%;
  background-color: #FFFFFF;  
  /*height: 220px;*/
}

#header_right
{
  background-color: #FFFFFF; 
  width: 64%;
  float: right;
  /*display: flex;*/
}

#header_title
{
  margin-left: 1%;
  font-size: 40px;
  text-align: center;
  line-height: 70px;
  color: #7395c5;
  width: 100%;
  white-space: nowrap;
}

#header_title a
{
  color: #4c4b4b;
  text-decoration:none; 
}

#help
{
  text-align: center;
  font-weight: bold;
  margin-left:1%;
  margin-top: 10px;
  width: 100%;
}

#disclaimer
{
  margin-left: 1%;
  margin-right: 1%;
  margin-top: auto;
  font-style: italic;
  width: 100%;
}


#header_sponsor
{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  float: right;
  width: 16%;
  background-color: #FFFFFF;  
  /*height: 220px;*/
}

#header_sponsor img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#whatsnewlinks
{
  font-size: 14px;
  line-height: 14px;
/*color: #4c4b4b;*/
  text-align: center;
}

#whatsnewlinks a img
{
  vertical-align: bottom;
}

#whatsnewlinks a
{
  text-decoration:none; 
  padding-left: 10px;
  padding-right: 10px;
}

#subheader
{
  color: #4c4b4b;
  margin-top: 20px;
}

#subheader_left
{
  float: left;
  width:  112px;
  padding: 5px;
}

#subheader_right
{
  padding: 5px;
}

#papertitle {
  font-size:36px;
  font-style:bold;
  width: 750px;
  word-wrap: break-word;
  white-space: normal;
}

#authors {
  width: 750px;
  word-wrap: break-word;
  white-space: normal;
}

#abstract {
  width: 750px;
  word-wrap: break-word;
  white-space: normal;
}

#extra
{
  padding: 20px;
}

#content
{
  margin-top: 10px;
  text-align: left;
  padding: 20px;
  color: #000;
  clear:both;
  bottom:0px;
}

#content h3,h2
{
  color: #7395c5;
}

dt
{
  white-space: nowrap;
}

dd
{
  white-space: nowrap;
/*font-style: italic;*/
}


.item_left
{
  width: 420px; 
  float: left; 
  display: block;
  clear: left;
  margin: 10px;
  padding: 10px;
  margin-top: 0px;
  padding-top: 0px;
  background-color: #fff;
/*height: 400px;*/
}


.item_right
{
  float:left;
  margin: 10px;
  padding: 10px;
  margin-left: 50px;
  margin-top: 0px;
  padding-top: 0px;
  background-color: #fff;
  vertical-align: middle;
  height: 400px;
  overflow: hidden;
}

.home #content {
  margin-top: 0px;
  padding-top: 0px;
}

.home {
min-width: 900px;
}

.home a {
	color: #365eb6;
  text-decoration: none;
	}
.home a:visited {
	color: #365eb6;
  text-decoration: none;
	}

a {
	color: #7395c5;
	}
a:visited {
	color: #7395c5;
	}

.ptitle a {
   color: #000000;
   font-weight: bold;
   text-decoration: none;
}

.tile
{
  padding: 10px;
/*font-family: Helvetica, sans-serif;*/
/*border: 1px solid #e1e1e1;*/
/*
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 15px;
-webkit-transition: -webkit-box-shadow 0.10s ease-in-out;
-moz-transition: all 0.10s ease-in-out;
-o-transition: all 0.10s ease-in-out;
*/
}

.social_bar 
{
  clear: both;
  float: left;
/*margin-left: 20px;*/
  margin-bottom: 20px;
}

.social_bar_template
{
  display: hidden;  
}

#twitterbutton, #likebutton, #stumblebutton, #sharebutton, #linkedinshare, #tipthis , #flattr, #stumblebutton
{
  float: left;
  display: block;
  margin-right: 10px;
}

#twitterbutton
{
  max-width: 80px;
}

#likebutton
{
  max-width: 70px;
}

#likebutton 
{
  margin-top:0px;
}

#sharebutton 
{
  margin-left:0px;
  margin-top:0px;
  margin-right: 5px;
}
#linkedinshare 
{
  margin-left: 10px;
  margin-top: 1px;
}

#tipthis 
{
  margin-left: 20px;
  margin-top: 0px;
}

#flattr 
{
  margin-left: 20px;
  margin-top: 0px;
}

.link2 {
  display: inline;
  margin-right: 5px;
}

.fakelink {
  text-decoration: underline;
  cursor: pointer;
}

.bibref {
  margin-top: 10px;
  margin-left: 10px;
  display:none;
  font-size:14px;
  font-family: monospace;
}

.authsearch {
  display: inline;
}
